<h1>{{ 'registrationEmail.title' | trans }}</h1>

<p>
    {{ 'registrationEmail.intro' | trans }}<br><br>
    <a href="{{ signedUrl|raw }}">{{ 'registrationEmail.link' | trans }}</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'registrationEmail.cheers' | trans }}
</p>