{% extends 'base.html.twig' %}

{% block title %}{{ 'resetPassword.checkEmail.title' | trans }}{% endblock %}
{% block page_title %}{{ 'resetPassword.checkEmail.title' | trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'resetPassword.checkEmail.message' | trans }}
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'resetPassword.checkEmail.spam' | trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'resetPassword.checkEmail.tryAgain' | trans }}</a>.</p>
{% endblock %}