{% extends 'base.html.twig' %}

{% block title %}Universe index{% endblock %}

{% block body %}
    <h1>Universe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Image</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for universe in universes %}
            <tr>
                <td>{{ universe.id }}</td>
                <td>{{ universe.name }}</td>
                <td>{{ universe.slug }}</td>
                <td>{{ universe.description }}</td>
                <td>{{ universe.image }}</td>
                <td>{{ universe.color }}</td>
                <td>
                    <a href="{{ path('app_universe_show', {'id': universe.id}) }}">show</a>
                    <a href="{{ path('app_universe_edit', {'id': universe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_universe_new') }}">Create new</a>
{% endblock %}
